.ContainerListaServicosPrestador{
    display: flex;
    flex-direction: column;
    background-color: var(--pastel-bg);
    min-height: 100vh;
    width: 100%;
    & .InnerContainerServicosListaServicosPrestador{
        display: flex;
        flex-direction: column;
        padding: 20px;
         & .BotaoVoltarListaServicosPrestador {
            background-color: var(--marrom-btn);
            border: 0;
            border-radius: 15px;
            color: var(--branco);
            font-size: 1.2rem;
            padding: 10px 20px;
            cursor: pointer;
            transition: 0.2s;
            margin-right: auto;
        }
        & .BotaoVoltarListaServicosPrestador:active {
            background-color: var(--marrom-btn-transparente);
        }
        & .ListaCompletaDeServicosListaServicosPrestador{
            display: flex;
            flex: 1;
            flex-direction: row;
            padding: 20px;
            gap: 10px;
            & .ItemListaListaServicosPrestador{
                display: flex;
                flex-direction: column;
                padding: 20px;
                border: solid var(--marrom-btn) 4px;
                border-radius: 15px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                min-height: 30vh;
                flex-wrap: wrap;
                & .Textoh2ListaServicosPrestador{
                    color: var(--marrom-text);
                }
                & .TextoPListaServicosPrestador{
                    color: var(--marrom-text);
                }
            }
        }
    }
}