.Shopping{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: var(--pastel-bg);
    & .TxtTitleShopping{
        color: var(--marrom-text);
        text-align: center;
        margin: 0;
    }
    & .BotaoVoltarShopping{
        background-color: var(--marrom-btn);
        border: 0;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1.2rem;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.2s;
        margin-right: auto;
        margin-left: 30px;
        margin-top: 10px;
    }
    & .DivContainerDeFiltrosShopping{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 10px;
        justify-content: center;
        flex-wrap: wrap;
        width: 94%;
        gap:10px;
        flex-wrap: wrap;
        & .TxtFiltroShopping{
            color: var(--marrom-text);
            font-weight: bold;
            font-size: 1.2rem;
        }
        & input{
            border: 2px solid var(--marrom-btn);
            padding: 5px;
            border-radius: 5px;
            font-size: 1rem;
            background-color: var(--cinza-claro);
        }
        & input::placeholder{
            color: var(--marrom-text-placeholder);
        }
    }
    & .FlatListShopping{
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        & .itemListShopping{
            width: auto;
            height: auto;
        }
    }
}