.ContainerCadastroDeAdocao{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & .InnercontainerCadastroDeAdocao{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        & .TitleCadastroDeAdocao{
            color: var(--marrom-text);
        }
        & .FormContainerCadastroDeAdocao{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            padding: 10px;
            gap: 10px;
            border: solid 2px var(--marrom-btn);
            border-radius: 15px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            & .botaoUploadImagemCadastroDeAdocao, .SubmitCadastroDeAdocao{
                border: 0;
                border-radius: 10px;
                padding: 10px;
                font-size: 1.3rem;
                background-color: var(--marrom-btn);
                color: var(--branco);
                cursor: pointer;
            }
            & .txtCadastroDeAdocao{
                color: var(--marrom-text);
                font-size: 1.3rem;
                font-weight: bold;
                margin-right: auto;
            }
            & input, select{
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 10px;
            }
            & .InputTextCadastroDeAdocao{
                width: 100%;
                border: 1px solid var(--marrom-btn);
                border-radius: 5px;
                font-size: 1.3rem;
                color: var(--marrom-text);
                background-color: var(--cinza-claro);
                box-sizing: border-box;
            }
            & .InputTextCadastroDeAdocao:invalid{
                color: #757575;
            }
        }
    }
}