.CreateUser{
    height: 100vh;
    width: 100vw;
    & .Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        & .Title {
            font-size:1.5rem;
            color:#7360DF;
            margin:0
        }
        & .Txt {
            font-size:1.3rem;
            color:#7360DF;
        }
        & .ContainerBtns {
            display:flex;
            justify-content: space-around;
            gap:20
        }
    }
}