.Login{
    height: 100%;
	width: 100%;
}
.Login .title{
	font-size:1.5rem;
	color:#7360DF;
}
.Login .container{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.Login .container .txt{
	font-size:1.3rem;
	color:#7360DF;
}
.Login .container .inputText{
	font-size:1.3rem;
	border-width: 2px;
	border-color: #7360DF;
	border-radius: 5px;
	border-style: solid;
	padding: 5px;
}
.Login .container .submit{
	font-size:1.3rem;
	background-color: #7360DF;
	border: 0;
	border-radius: 10px;
	padding: 5px;
	color: white;
}
