.Login{
    margin: 0;
    display: flex;
}
.Login .container{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.containerLateral{
	flex-direction:row;
	justify-content:space-around;
}
.title{
	font-size:28;
	color:#7360DF;
}
.Login .container .txt{
	font-size:16;
	color:#7360DF;
}
.txtInput{
	background-color:#EDEDED;
	width:auto;
	border-radius:15;
}
.txtRecover{
	text-decoration-line:underline;
	color:blue;
}
.checkboxStyle{
	padding:0;
}