button{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(115, 96, 223);
    border: 0px;
    color: white;
    font-size: 15px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid white;
}