.Shopping{
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    background-color: white;
    & .FlatList{
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
    }
}