.CadastroPrestador{
	min-height: 100vh;
	width: 100%;
	display: flex;
	& .ContainerCadastroPrestador{
		display: flex;
		background-color: var(--branco);
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: row;
		min-height: auto;
		width: auto;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
        border-radius: 15px;
		padding: 20px;
		gap: 20px;
		& .BotaoVoltarCadastroPrestador{
            background-color: var(--marrom-btn);
			border: 0;
			border-radius: 15px;
			color: var(--branco);
			font-size: 1.2rem;
			padding: 10px;
			margin-bottom: auto;
			cursor: pointer;
			transition: 0.2s;
        }
		& .BotaoVoltarCadastroPrestador:active{
            background-color: var(--marrom-btn-transparente);
        }
		& .FormContainerCadastroPrestador{
			display: flex;
			flex-direction: column;
			color:var(--marrom-text);
			columns: 2;
			gap:10px;
			& .txtCadastroPrestador{
				color: var(--marrom-text);
				width: 30vw;
			}
			& .submitCadastroPrestador{
				font-size:1.3rem;
				background-color: var(--marrom-btn);
				border: 0;
				width: 30vw;
				border-radius: 10px;
				padding: 5px;
				color: white;
				transition: 0.2s;
			}
			& .submitCadastroPrestador:active{
				background-color: var(--marrom-btn-transparente);
			}
			& .InputTextCadastroPrestador{
				font-size:1rem;
				border-width: 1px;
				border-color: var(--marrom-btn);
				border-radius: 5px;
				border-style: solid;
				padding: 5px;
				width:30vw;
			}
			& .botaoUploadImagemCadastroPrestador{
				width: 30vw;
				border: 0;
				background-color: var(--marrom-btn);
				color: var(--branco);
				padding: 10px;
				border-radius: 15px;
				cursor: pointer;
			}
		}
		& .TitleCadastroPrestador{
			color: var(--marrom-text);
			font-size: 1.8rem;
			margin: 0;
			font-weight: bold;
		}
	}
}


@media only screen and (max-width: 768px) {
	.CadastroPrestador{
		height: 100vh;
		width: 100vw;
		& .Container{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
			height: auto;
			width: 300px;
			box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
			border-radius: 15px;
			padding: 20px;
			gap: 20px;
			& .FormContainer{
				display: flex;
				flex-direction: column;
				color:white;
				columns: 2;
				gap:10px;
				& .txt{
					color: #7360DF;
				}
				& .submit{
					font-size:1.3rem;
					background-color: #7360DF;
					border: 0;
					border-radius: 10px;
					padding: 5px;
					color: white;
				}
				& .InputText{
					font-size:1rem;
					border-width: 0.2vw;
					border-color: #7360DF;
					border-radius: 5px;
					border-style: solid;
					padding: 5px;
					width:65vw;
				}
			}
			& .Title{
				color: #7360DF;
				font-size: 1.8rem;
				margin: 0;
			}
		}
	}
}