.PetServices {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--branco);

    & .ListaDeServicosPetServices {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 30px;
        gap: 20px;
        height: auto;
        align-items: center;

        & .TxtTitlePetServices {
            color: var(--marrom-text);
            font-weight: bold;
            font-size: 2rem;
        }

        & .DivContainerDeFiltrosPetServices {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            gap: 10px;
            flex-wrap: wrap;

            & .TxtFiltroPetServices {
                color: var(--marrom-text);
                font-weight: bold;
                font-size: 1.2rem;
            }

            & input {
                border: 2px solid var(--marrom-btn);
                padding: 5px;
                border-radius: 5px;
                font-size: 1rem;
                background-color: var(--cinza-claro);
            }
        }

        & .InnerListaPetServices {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            & .ItemLista {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                border: 2px solid var(--marrom-btn);
                border-radius: 16px;
                background-color: var(--branco);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
                width: 100%;
                max-width: 400px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
                }

                & .HeaderPrestador {
                    text-align: center;

                    & .NomePrestador {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: var(--marrom-text);
                    }

                    & .Endereco {
                        font-size: 1rem;
                        color: var(--marrom-text);
                        margin-top: 4px;
                    }
                }

                & .InfosGridPrestador {
                    gap: 10px;
                    font-size: 0.95rem;
                    color: var(--marrom-text);
                }
                & .Experiencia {
                    font-size: 0.95rem;
                    color: var(--marrom-text);
                    line-height: 1.5;
                    text-align: justify;
                }
                

                & .BtnIniciarChat {
                    border: none;
                    background-color: var(--marrom-btn);
                    color: var(--branco);
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 1rem;
                    cursor: pointer;
                    align-self: flex-end;
                    transition: background-color 0.3s;
                }
            }
        }

    }
}

.BotaoVoltar {
    background-color: var(--marrom-btn);
    border: 0;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: auto;
}

.BotaoVoltar:active {
    background-color: var(--marrom-btn-transparente);
}