.PetServices{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background-color: white;
    & .ListaDeServicos{
        display:flex; 
        flex-direction:row;
        gap:10px;
        width: auto;
        flex-wrap: wrap;
        height: auto;
        & .ItemLista{
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: solid #7360DF 4px;
            border-radius: 15px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            height: auto;
            flex-wrap: wrap;
            & .Texto{
                color: black;
            }
        }
    }
}