.ContainerMenuPrestador{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--branco);
    & .InnerContainerMenuPrestador{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 100%;
        min-height: 100%;
        flex: 1;
        & button{
            border-radius: 15px;
            padding: 10px;
            margin: 10px;
            background-color: var(--marrom-btn);
            border: 0px;
            color: var(--branco);
            font-size: 15px;
        }
    }
}
