.container{
    height: auto;
    background-color: white;

    & .innerContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        & .chat{
            & .messages{
                
                & .text{
                    color: black;
                }
            }
        }
        
    }
}