.Login{
	display: flex;
	width: 100%;
	min-height: 100vh;
	& .ContainerLogin{
		display:flex;
		height: auto;
		background-color: var(--pastel-bg);
		width: 400px;
		border-radius: 15px;
		padding: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& .BotaoVoltarLogin{
			background-color: var(--marrom-btn);
			border: 0;
			border-radius: 15px;
			color: var(--branco);
			font-size: 1.2rem;
			padding: 10px;
			margin-right: auto;
			cursor: pointer;
			transition: 0.2s;
		}
		& .BotaoVoltarLogin:active{
			background-color: var(--marrom-btn-transparente);
		}
		& .InnerContainerLogin{
			display: flex;
			flex-direction: column;
			width: 90%;
			

			& .TitleLogin{
				font-size:1.5rem;
				color:var(--marrom-text);
			}
			& .FormContainerLogin{
				display: flex;
				flex-direction: column;
				gap: 15px;
				& a{
					color: var(--marrom-text);
					margin-left: 15px;
				}
				& .FunctionsContainer{
					display: flex;
					align-items: center;
				}
				& .Txt{
					font-size:1.3rem;
					color:var(--marrom-text);
				}
				& .InputText{
					font-size:1.3rem;
					border-width: 2px;
					border-color: var(--marrom-btn);
					border-radius: 5px;
					border-style: solid;
					color: var(--marrom-text);
					padding: 8px;
					background-color: var(--cinza-claro);
				}
				& .Submit{
					font-size:1.3rem;
					background-color: var(--marrom-btn);
					border: 0;
					border-radius: 10px;
					padding: 0.7rem;
					color: var(--branco);
					cursor: pointer;
					transition: 0.2s;
				}
				& .Submit:active{
					background-color: var(--marrom-btn-transparente);
				}
			}
			& .FormContainer ::-webkit-input-placeholder{
				color: var(--cinza);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.Login{
		height: 100vh;
		width: 100vw;
		& .Container{
			display:flex;
			height: auto;
			width: 80vw;
			border-radius: 15px;
			padding: 10px;
			flex-wrap:wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& .InnerContainer{
				display: flex;
				flex-direction: column;
				width: 90%;
				& .Title{
					font-size:1.5rem;
					color:#7360DF;
				}
				& .FormContainer{
					display: flex;
					flex-direction: column;
					gap: 15px;
					& a{
						color: #7360DF;
						margin-left: 15px;
					}
					& .FunctionsContainer{
						display: flex;
						align-items: center;
						/* & .CheckboxConnected{
							& label{
								font-size: 1rem;
								display: flex;
								align-items: center;
								flex-direction: row-reverse;
							}
							& input[type=checkbox] {
								width: 1.4rem;
								height: 2rem;
							}
						} */
					}
					& .Txt{
						font-size:1.3rem;
						color:#7360DF;
					}
					& .InputText{
						font-size:1.3rem;
						border-width: 2px;
						border-color: #7360DF;
						border-radius: 5px;
						border-style: solid;
						padding: 8px;
						background-color: #EDEDED;
					}
					& .Submit{
						font-size:1.3rem;
						background-color: #7360DF;
						border: 0;
						border-radius: 10px;
						padding: 0.7rem;
						color: white;
						cursor: pointer;
					}
				}
				& .FormContainer ::-webkit-input-placeholder{
					color: #858585;
				}
			}
		}
	}
}