.CadastroProdutos{
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    min-height: 100vh;
    width: 100%;
    & .ContainerCadastroProdutos{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        & .TitleCadastroProdutos{
            color: var(--marrom-text);
        }
        & .FormContainerCadastroProdutos{
            border: solid var(--marrom-btn) 4px;
            width: 35vw;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            border-radius: 15px;
            margin-bottom: 20px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            & .txtCadastroProdutos{
                color: var(--marrom-text);
                font-size: 1.4rem;
            }
            & .botaoUploadImagemCadastroProdutos{
                font-size: 1.4rem;
                color: var(--branco);
                border: solid var(--marrom-btn) 4px;
                border-radius: 8px;
                padding: 5px;
                cursor: pointer;
                background-color: var(--marrom-btn);
            }
            & .InputTextCadastroProdutos{
                font-size: 1.4rem;
                border: solid var(--marrom-btn) 4px;
                border-radius: 8px;
                padding: 5px;
                cursor: pointer;
            }
            & .SubmitCadastroProdutos{
                font-size: 1.4rem;
                border: 0px;
                background-color: var(--marrom-btn);
                color: var(--branco);
                border-radius: 8px;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}