.ContainerSobreNos{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--branco);
    & .InnercontainerSobreNos{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
        & .Article1SobreNos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            align-items: center;
            height: 200px;
            width: 97%;
            background-color: var(--pastel-bg);
            padding: 20px;
            border: solid 2px var(--marrom-btn);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            & .DivContainerMiniImg{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;
                & .Img1SobreNos{
                    width: 20%;
                    height: auto;
                }
            }
            & .DivContainerMiniImg2{
                display: flex;
                align-items: center;
                flex: 1;
                height: 100%;
                 & .Img2SobreNos{
                    width: auto;
                    height: 100%;
                    border: 2px solid var(--marrom-btn);
                    border-radius: 10px;
                }
            }
            & p{
                flex: 2;
                color: var(--marrom-text);
                font-weight: bold;
                font-size: 1.5rem;
                text-align: center;
            }
        }
        & .Article2SobreNos{
            padding-left: 40px;
            padding-right: 40px;
            & .DivInterna1SobreNos{
                display: flex;
                gap: 20px;
                align-items: center;
                & .Img3SobreNos{
                    flex: 1;
                    width: 20%;
                    height: 40%;
                    border: 2px solid var(--marrom-btn);
                    border-radius: 10px;
                }
                & p{
                    flex: 2;
                    color: var(--preto);
                }
            }
            & .DivInterna2SobreNos{
                display: flex;
                gap: 20px;
                align-items: center;
                & .Img4SobreNos{
                    flex: 1;
                    width: 20%;
                    height: 40%;
                    border: 2px solid var(--marrom-btn);
                    border-radius: 10px;
                }
                & p{
                    flex: 2;
                    color: var(--preto);
                }
            }
        }
        & .Btn1SobreNos{
            width: 200px;
            border: 0;
            cursor: pointer;
            background-color: var(--marrom-btn);
            padding: 10px;
            border-radius: 10px;
            color: var(--branco);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
    }
}
