:root{
    --marrom-bg: #BC6E28;
    --marrom-text: #3D2C1C;
    --pastel-bg: #FFF6E6;
    --marrom-btn:#3D2C1C;
    --branco: #FFFFFF;
    --preto: #000000;
    --fonte-texto: "Inter";
}
.App{
    font-family: "Inter";
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
}
body{
    background-color: white;
    color: white;
    width: 100%;
    overflow-x: hidden;
}